# EditorConfig is awesome:http://EditorConfig.org
# Documentation here https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference

# top-most EditorConfig file
root = true

# Don't use tabs for indentation.
[*]
indent_style = space
charset = utf-8
# (Please don't specify an indent_size here; that has too many unintended consequences.)

# Code files
[*.{cs,csx,c,cpp,h,cc,hpp}]
indent_size = 4

# Xml config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# JSON files
[*.{json,sh}]
indent_size = 2

# C/C++ settings
[*.{c,cpp,h,cc,hpp}]
cpp_align_multiline_binary_expressions_chain = false
cpp_align_first_arg_by_paren = true
cpp_align_multiline_argument = true
cpp_align_multiline_calls_chain = true
cpp_align_multiline_ctor_init = true
cpp_align_multiline_extends_list = true
cpp_align_multiline_parameter = true
cpp_align_multiline_type_argument = true
cpp_align_multiple_declaration = true
cpp_align_ternary = align_all
cpp_blank_lines_around_class_definition = 1
cpp_blank_lines_around_function_declaration = 0
cpp_blank_lines_around_function_definition = 1
cpp_blank_lines_around_other_declaration = 0
cpp_blank_lines_around_single_line_function_definition = 1
cpp_case_block_braces = next_line
cpp_continuous_line_indent = double
cpp_blank_lines_around_namespace = 1
cpp_empty_block_style = multiline
cpp_expression_braces = inside
cpp_function_declaration_return_type_style = on_single_line
cpp_function_definition_return_type_style = on_single_line
cpp_indent_access_specifiers_from_class = false
cpp_indent_preprocessor_directives = none
cpp_indent_switch_labels = true
cpp_brace_style = end_of_line
cpp_invocable_declaration_braces = end_of_line
cpp_keep_blank_lines_in_code = 1
cpp_keep_blank_lines_in_declarations = 1
cpp_line_break_after_comma_in_member_initializer_lists = false
cpp_line_break_before_comma_in_member_initializer_lists = false
cpp_member_initializer_list_style = do_not_change
cpp_namespace_declaration_braces = end_of_line
cpp_namespace_indentation = all
cpp_new_line_before_catch = false
cpp_new_line_before_else = false
cpp_new_line_before_enumerators = true
cpp_new_line_before_while = false
cpp_other_braces = end_of_line
cpp_place_namespace_definitions_on_same_line = false
cpp_simple_block_style = line_break
cpp_simple_case_statement_style = line_break
cpp_simple_embedded_statement_style = line_break
cpp_space_after_cast = false
cpp_space_after_colon_in_case = true
cpp_space_after_comma = true
cpp_space_after_comma_in_declaration = true
cpp_space_after_comma_in_method = true
cpp_space_after_comma_in_method_call = true
cpp_space_after_comma_in_template_args = true
cpp_space_after_comma_in_template_params = true
cpp_space_after_keywords_in_control_flow_statements = false
cpp_space_after_ptr_in_data_member = true
cpp_space_after_ptr_in_data_members = false
cpp_space_after_ptr_in_method = true
cpp_space_after_semicolon_in_for_statement = true
cpp_space_after_ternary_colon = true
cpp_space_after_ternary_quest = true
cpp_space_around_alias_eq = true
cpp_space_around_assignment_operator = true
cpp_space_around_binary_operator = true
cpp_space_around_deref_in_trailing_return_type = false
cpp_space_around_member_access_operator = false
cpp_space_before_colon_in_case = false
cpp_space_before_comma_in_declaration = false
cpp_space_before_comma_in_method = false
cpp_space_before_comma_in_method_call = false
cpp_space_before_comma_in_template_args = false
cpp_space_before_comma_in_template_params = false
cpp_space_before_empty_method_call_parentheses = false
cpp_space_before_initializer_braces = true
cpp_space_before_method_call_parentheses = false
cpp_space_before_open_square_brackets = false
cpp_space_before_ptr_in_data_member = false
cpp_space_before_ptr_in_data_members = true
cpp_space_before_ptr_in_method = false
cpp_space_before_semicolon_in_for_statement = false
cpp_space_before_template_args = false
cpp_space_before_template_params = false
cpp_space_before_ternary_colon = true
cpp_space_before_ternary_quest = true
cpp_space_between_closing_angle_brackets_in_template_args = false
cpp_space_between_method_call_empty_parameter_list_parentheses = false
cpp_space_between_method_call_parameter_list_parentheses = false
cpp_space_between_method_declaration_empty_parameter_list_parentheses = false
cpp_space_between_method_declaration_name_and_open_parenthesis = false
cpp_space_between_method_declaration_parameter_list_parentheses = false
cpp_space_between_parentheses_of_control_flow_statements = false
cpp_space_within_array_access_brackets = false
cpp_space_between_typecast_parentheses = false
cpp_space_within_initializer_braces = true
cpp_space_within_empty_template_params = false
cpp_space_within_parentheses = false
cpp_space_within_template_args = false
cpp_space_within_template_params = false
cpp_type_declaration_braces = end_of_line
cpp_int_align_eq = false
