packages/
.idea/
.vs/
*.obj
*.sdf
*.opensdf
*.pdb
*.log
*.tokens
*.vcxproj.user
*.DotSettings.user
*.csproj.user
grok.flex.c
grok.tab.c
grok.tab.h
grok.output
Debug/
Release/
!src/lib/Debug/
!src/lib/Release/
!src/lib/x64/Debug/
!src/lib/x64/Release/
pcre-vsbuild/
cmake-build-debug/
cmake-build-release/
pcre-*/
/unuxbuild
/src/grok/grok.aps
/out/
/cmake-build-*/
bin/
zig-cache/
build/
build-*/
external_lib/
*.PVS-Studio.cfg
.DS_Store
.cache/