packages/
.idea/
*.obj
*.VC.opendb
*.suo
*.sdf
*.opensdf
*.pdb
*.log
*.tokens
*.vcxproj.user
*.DotSettings.user
*.csproj.user
grok.flex.c
grok.tab.c
grok.tab.h
grok.output
Debug/
Release/
!lib/Debug/
!lib/Release/
!lib/x64/Debug/
!lib/x64/Release/
pcre-vsbuild/
pcre-*/
